@font-face {
  font-family: Pxlvetica;
  src: url('./Pxlvetica.ttf');
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: blur(5px);
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}